<!DOCTYPE html>
<html>
    <head>
        <title>Hello Friend</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <h1>Hello From a Galaxy Far Far Away...</h1>
        <p>Dear (Not)Master Skywalker,</p>
        <p>How are you? Its Obi Wan! Last time we saw eachother was on Mustafar, it Musta been fun. Just kidding 
        I chopped off your legs, your arm, left you to burn in molten lava, took your children, and hid them from you. 
        You now are a Dark Lord of the Sith and you children are terrified please come back to the light.</p>
        <p>Best Wishes for Recovery,</p>
        <p>Your Homie and Brother,</p>
        <p>Obi-Wan Kenobi</p>
            
    </body>

</html>
