<h1>Hello From Afar</h1>
<p>Dear @Model.Recipient, </p>
<p>I went To @Model.VacationSpot</p>
<p> I ate a bannana and I enjoyed it. XD </p>
<p>I also brought home a @Model.Souvenirs</p>
<p>Cheers,</p>
<p>Travel Enthusiast @Model.Sender</p>